[Unit]
Description=Brushless single run

[Service]
Type=oneshot
ExecStart=/usr/local/brushless_17_trigger.sh
StandardOutput=journal
StandardError=journal
