[Unit]
Description=Brushless single run

[Service]
Type=oneshot
ExecStart=/usr/bin/taskset 0x2 /usr/bin/python3 /root/RedPitayaClickShield/Examples/python/brushless_17.py
